<div id="content" class="row">
  <div class="col-md-5">

    <h2>Area de administración</h2>

    <%= form_tag sessions_path do %>
      <div class="form-group">
        <%= label_tag :email, "Email" %>
        <%= email_field_tag :email, params[:email], :class => "form-control", :placeholder => "admin@example.com" %>
      </div>

      <div class="form-group">
        <%= label_tag :password, "Contraseña" %>
        <%= password_field_tag :password, "", :class => "form-control" %>
      </div>

      <button type="submit" class="btn btn-default">Ingresar</button>
    <% end %>
  </div>

  <div class="col-md-7">
    
  </div>
</div>