<% title "Contacto con Alumart" %>

<div id="content" class="row">
  <div class="col-md-4">
    <h2>Contactos</h2>

  </div>

  <div class="spicycontent col-md-8">
    <p>Nuestra empresa se encuentra en el barrio Conchali.</p>
    <p>Pueden acercarse en oficina por direccion indicada.</p>
    <p> Tambien puede comunicarse con nosotros por siguientes numeros de telefono o enviar un mensaje desde el formulario web.</p>

    <h3 class="panel-title">Telefonos:</h3>
    <br/>

    <p>
      <strong>Fijo</strong>: (56-2) 2495 7323<br/>
      <strong>Movil</strong>: (56-9) 8431 2814<br/>
      <strong>Email</strong>: ventas@alumart.cl
    </p>

    <p>
        Independencia 4299 A<br/>
        Conchali<br/>
        Region Metropolitana
    </p>

    <br/><br/>

    <%= form_tag(send_mail_path) do %>
      <div class="form-group">
        <%= text_field_tag :name, "", :class => "form-control", :placeholder => "Ej. Juan Ignacio"  %>
      </div>

      <div class="form-group">
        <%= email_field_tag :email, "", :class => "form-control", :placeholder => "email@ejemplo.com" %>
      </div>

      <div class="form-group">
        <%= text_area_tag :message, "", :class => "form-control", :rows => 8  %>
      </div>

      <button type="submit" class="btn btn-success">Enviar mensaje</button>
    <% end %> 
  </div>

  <%= image_tag("feedbacks.png", :class => "spicysep col-md-12") %>
</div>

<div class="row">
  <div class="col-md-12">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6660.560885688618!2d-70.59682005106505!3d-33.41593217869651!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf156cf50c41%3A0xaf7ff4ecabd65d7a!2zQXBvcXVpbmRvIDMzMDAsIExhcyBDb25kZXMsIFJlZ2nDs24gTWV0cm9wb2xpdGFuYSwg0KfQuNC70Lg!5e0!3m2!1sru!2sar!4v1416586991869" width="940" height="300" frameborder="0" style="border:0"></iframe>
  </div>
</div>