<div id="banners" class="row">
  <div class="col-md-12">
    <%= image_tag("1.jpg", :alt => "Sistemas ventanales") %>
  </div>
</div>

<div id="feedbacks" class="row">
  <div class="col-md-12">
      <h3><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</em></h3>
  </div>
  <%= image_tag("feedbacks.png") %>
</div>

<div id="products" class="row">
  <div class="col-md-4">
  <h2>Shower Room</h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

  <p class="centered"><%= link_to image_tag("button-go.png"), root_path %></p>
  </div> 

  <div class="col-md-4">
  <h2>Puertas Protex</h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

  <p class="centered"><%= link_to image_tag("button-go.png"), root_path %></p>
  </div> 

  <div class="col-md-4">
  <h2>Mallas de protección</h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

  <p class="centered"><%= link_to image_tag("button-go.png"), root_path %></p>
  </div>     
</div>