<div id="banners" class="row">
  <div class="col-md-12">
    <%= render "carousel" %>
  </div>
</div>

<div id="feedbacks" class="row">
  <div class="col-md-12">
      <h3><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</em></h3>
  </div>
  <%= image_tag("feedbacks.png") %>
</div>

<div id="products" class="row">
  <div class="col-md-4">
  <h2>Ventanas PVC</h2>

  <p><%= sanitize(truncate(Producto.find(3).description, :ommision => "... Leer mas", :length => 210)) %></p>

  <p class="centered"><%= link_to image_tag("button-go.png"), producto_path(3) %></p>
  </div> 

  <div class="col-md-4">
  <h2>Puertas Protex</h2>

  <p><%= sanitize(truncate(Producto.find(4).description, :ommision => "... Leer mas", :length => 210)) %></p>

  <p class="centered"><%= link_to image_tag("button-go.png"), producto_path(4) %></p>
  </div> 

  <div class="col-md-4">
  <h2>Shower Room</h2>

  <p><%= sanitize(truncate(Producto.find(1).description, :ommision => "... Leer mas", :length => 210)) %></p>

  <p class="centered"><%= link_to image_tag("button-go.png"), producto_path(1) %></p>
  </div>     
</div>