<h1>Listing Articles</h1>
<%= link_to 'Agregar nuevo producto', new_producto_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>
 
<% @productos.each do |producto| %>
  <tr>
    <td><%= producto.title %></td>
    <td><%= producto.description %></td>
    <td><%= link_to 'Ver', producto_path(producto.id) %></td>
    <td><%= link_to 'Redactar', edit_producto_path(producto.id) %></td>
    <td><%= link_to 'Eliminar', producto_path(producto.id),
                    method: :delete, data: { confirm: 'Estas seguro?' } %></td>
  </tr>
<% end %>
</table>