<div id="content" class="row">
  <div class="col-md-4">
    <div id="sidebar" class="list-group">
      <h4>Administrador de imagenes</h4>

      <%= link_to "Agregar imagenes", new_upload_path, :class => "list-group-item", data: { no_turbolink: true } %>
      <%= link_to 'Listado de imagenes', uploads_path,  :class => "list-group-item" %>
    </div>
  </div>

  <div class="spicycontent col-md-8">

  <div class="row">
  <% @uploads.each do |upload| %>
    <div class="col-xs-6 col-md-3">
       <%= image_tag(upload.uploaded_file(:medium), class: "img-thumbnail")  %>
      <%= link_to 'Redactar', edit_upload_path(upload) %>
      <%= link_to 'Eliminar', upload, method: :delete, data: { confirm: 'Estas seguro?' } %>       
    </div>
  <% end %>
  </div> 

  </div>

  <%= image_tag("feedbacks.png", :class => "spicysep col-md-12") %>
</div
