<div id="footer" class="container-fluid ">
  <div class="row">

  <div class="container">
  <div class="row fcontent">

    <div class="col-md-1">
      <%= image_tag("logo-alumart.png", :alt => "Alumart Empresa", :width => 75, :title => "Empresa Alumart") %>
    </div>

    <div class="col-md-7">
      <%= link_to "Inicio", pages_inicio_path %> <span>|</span>
      <%= link_to "Quienes Somos", pages_empresa_path %> <span>|</span>
      <%= link_to "Trabajos", pages_trabajos_path %> <span>|</span>
      <%= link_to "Contacto", pages_contacto_path %>
    </div>

    <div class="col-md-4">
    <% if current_user %>
      <%= link_to "Log out", logout_path, :class => "text-right" %>
    <% else %>
      <%= link_to "log in", login_pathm, :class => "text-right" %>
    <% end %>     
    </div>

  </div> 
  </div>

  </div>
</div>