<div id="footer" class="container-fluid">
  <div class="row">

  <div class="container">
  <div class="row fcontent">

    <div class="col-md-2">
      <%= image_tag("logo-alumart.png", :alt => "Alumart Empresa", :width => 75, :title => "Empresa Alumart") %>
    </div>

    <div class="col-md-6 vcenter">
    <p>
      <%= link_to "Inicio", pages_inicio_path %> <span>|</span>
      <%= link_to "Quienes Somos", pages_empresa_path %> <span>|</span>
      <%= link_to "Trabajos", pages_trabajos_path %> <span>|</span>
      <%= link_to "Contacto", pages_contacto_path %>
    </p>

   <p class="">
    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> &nbsp; (56-2) 2495 7323
    &nbsp;&nbsp;&nbsp;
    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> &nbsp; ventas@alumart.cl 
    &nbsp;&nbsp;&nbsp;
    </p>
    </div>

    <div class="col-md-4 vcenter">
    <p class="text-right">
    <% if current_user %>
      <%= link_to "Salir", logout_path %>
      <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
    <% else %>
      <%= link_to "Entrar", login_path %>
    <% end %>
    </p>
    </div>

  </div> 
  </div>

  </div>
</div>