<div id="header" class="row">
  <div class="col-md-4">
    <%= image_tag("logo-alumart.png", :alt => "Alumart Logo", :width => 130, :title => "Logo Alumart") %>
  </div>

  <div class="col-md-8">
    <ul id="menubar" class="nav nav-pills">
      <li class="active"><%= link_to "Inicio", pages_inicio_path %></li>
      <li><%= link_to "Quienes Somos", pages_empresa_path %></li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Productos <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "Shower Room", root_path %></li>
          <li><%= link_to "Puertas Protex", root_path %></li>
          <li><%= link_to "Mallas de Protección", root_path %></li>
        </ul>
      </li>

      <li><%= link_to "Trabajos", pages_trabajos_path %></li>
      <li><%= link_to "Contacto", pages_contacto_path %></li>
    </ul>
  </div>    
</div>